$primaryColor : #F72B80;
$hoverColor   : #ba3911;
$inverceColor : #ffffff;
$textColor    : #3e3f66;
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("woff");
 }
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Regular.ttf");
 }
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-ExtraBold.ttf");
  font-weight: 700;
}
/* ====================
      GLOBAL
==================== */
* {
  outline: 0 !important;
}

body {
  color: $textColor;
  overflow-x: hidden;
}

body {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

section {
  padding: 60px 0;
}

h1, .h1 {
  font-size: 68px;
  font-weight: normal;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 21px;
  position: relative;
}

h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: normal;
}

h5 {
  font-size: 18px;
  font-weight: 500;
}

a {
  color: $textColor;
  &:not(.nav-link):not(.navbar-brand) {
    border-bottom: .125em solid $primaryColor;
  }
  &:hover {
    text-decoration: none;
  }
}

b {
  color: red;
  div:not(.form-check) > & {
    position: absolute;
    top: 0.5em;
    right: 1em;
  }
}

.btn {
  padding: 10px 30px;
  transition: 0.3s;
}

.btn {
  // background-image: linear-gradient(90deg, #8a20a2 1%, #f72b80 100%);
  border-color: transparent;
  border-radius: 30px;
  border: none;
  font-weight: 700;
  box-shadow: 0px 20px 30px rgba(204, 37, 77, 0.25);
  position: relative;
  &:hover,
  &:focus,
  &:active {
    // color: #fff;
    // background-color: $hoverColor;
    border-color: transparent;
  }
}
.btn-light {

}
.btn-primary {
  background-image: linear-gradient(90deg, #8a20a2 1%, #f72b80 100%);
}
.btn-primary::after {
  position: absolute;
  content: "";
  border-radius: 30px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-image: linear-gradient(90deg, #ff9673 1%, #ef786a 100%);
  transition: all 1s ease-out;
  z-index: -1;
}
.btn-primary:hover::after {
  opacity: 1;
}
.btn-primary::after {
  background-image: linear-gradient(90deg, #f72b80 1%, #8a20a2 100%);
}
.btn:hover {
  transform: translateY(-3px);
}

@media (min-width: 1440px) {
  .container {
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  h1 {
    font-size: 48px;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 20px;
  }
}

/* ====================
      Preloader
==================== */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background-color: #fff;
  overflow: hidden
}

.preloader-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}

.preloader-icon {
  width: 72px;
  height: 72px;
  display: inline-block;
  padding: 0
}

.preloader-icon span {
  position: absolute;
  display: inline-block;
  width: 72px;
  height: 72px;
  border-radius: 100%;
  background: $primaryColor;
  -webkit-animation: preloader-fx 1.6s linear infinite;
  animation: preloader-fx 1.6s linear infinite
}

.preloader-icon span:last-child {
  animation-delay: -.8s;
  -webkit-animation-delay: -.8s
}

@keyframes preloader-fx {
  0% {
      -webkit-transform: scale(0,0);
      transform: scale(0,0);
      opacity: .5
  }

  100% {
      -webkit-transform: scale(1,1);
      transform: scale(1,1);
      opacity: 0
  }
}

@-webkit-keyframes preloader-fx {
  0% {
      -webkit-transform: scale(0,0);
      opacity: .5
  }

  100% {
      -webkit-transform: scale(1,1);
      opacity: 0
  }
}

/* ====================
        Navbar
==================== */
.navbar {
  padding-top: 60px;
  transition: all 0.4s ease;
  -webkit-transition: all 0.4s ease;
  &-brand {
    font-size: 44px;
    font-weight: 700;
    img {
      height: 45px;
      margin-right: 25px;
    }
  }

  &.sticky {
    background: #fff;
    padding-top: 0.5rem;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.10);
  }
}
.nav-item:not(:last-child) {
  margin-right: 1em;
}
.nav-link {
  font-size: 18px;
  position: relative;
  white-space: nowrap;
  &::before {
    content: '';
    height: 3px;
    width: 0;
    background: $primaryColor;
    position: absolute;
    left: 0.5rem;
    bottom: 0;
    transition: width 0.3s;
  }
  &.active::before,
  &:hover::before {
    width: calc(100% - 1rem);
  }
}

/* Navbar mobile */
.navbar-dark .navbar-toggler {
  border-color: transparent;
}

.navbar-toggler .icon-bar {
  background-color: $textColor;
  border-radius: 2px;
  display: block;
  height: 3px;
  width: 25px;

  + .icon-bar {
    margin-top: 4px;
  }
}

.icon-bar,
.navbar-toggler .icon-bar,
.navbar-toggler.toggle-clicked .icon-bar {
  transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(1) {
  transform: rotate(-43deg);
  margin-left: -27px !important;
  min-width: 31px;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(2) {
  transform: rotate(43deg);
  margin-left: -27px !important;
  margin-top: -3px !important;
  min-width: 31px;
}

.navbar-toggler.toggle-clicked .icon-bar:nth-child(3) {
  transform: rotate(37deg);
  margin-left: -1px !important;
  width: 21px !important;
  opacity: 0;
  margin-top: -2px;
}




/* ====================
    Section contacts
==================== */
#contacts {

  h1 {
    font-weight: bold;
  }
}

/* ====================
    Section footer
==================== */
#back-top {
  position: fixed;
  width: 45px;
  height: 45px;
  cursor: pointer;
  bottom: 80px;
  right: 40px;
  padding: 0;
  padding-top: 7px;
  color: $inverceColor;
  font-size: 24px;
  text-align: center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: none;
  z-index: 1;
  text-decoration: none;
}


/* ====================
    Section inverce
==================== */
// .inverce {
//   background-color: $textColor;
//   color: $inverceColor;
//   a {
//     color: $inverceColor;
//   }
// }
.light {
  background-color: #EAEAF0;
}
#main {
  padding-top: 200px;
  // background-image: url('../img/bg.png');
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  padding-bottom: 300px;

  h1 {
    font-weight: 700;
  }
}

#main .circle_bg {
  -webkit-animation: mymove 10s infinite;
  animation: mymove 10s infinite;
  position: absolute;
  right: 50px;
  top: -200px;
}

#main {
  background-image: url('../img/header-bg.png');
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.form-control {
  height: 60px;
  border-color: transparent;
  outline: none;
  padding-left: 20px;
  border-radius: 8px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
  border: none;
  outline: none;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.modal-content {
  background-color: #EAEAF0;
  border-radius: 0;
  min-height: 100%;
  background-image: url(../img/Flame500.png);
  background-repeat: no-repeat;
  background-position: 95% -10em;
}
.modal-dialog {
  width: 100vw;
  height: 100vh;
  max-width: none;
  margin: 0;
}

.modal-body {
  h1 {
    font-weight: bold;
  }
  form > div{
    max-width: 572px;
  }
}

.close {
  float: none;
  margin: 8vh 64px;
  width: 64px;
  height: 24px;
  opacity: 1;
  background-image: url(../img/close-arrow.svg);
  position: absolute;
}

.form-check {
  margin-bottom: 1rem;
}

@media (min-width: 1199px) {
  .modal-body {
    .container {
      margin: 0;
      padding-left: 270px;
      // padding-top: 230px;
      max-width: 1400px;
    }
  }
  .services .col-md-6 {
    padding: 2em 5em;
  }
}



@media (max-width: 1200px) {
  .navbar {
    padding-top: 20px;
    &-shrink {
      padding-top: 0.5rem;
    }
    &-brand {
      font-size: 18px;
      img {
        height: 70px;
      }
    }
  }
  .reviews img {
    width: 100%;
  }
  .services .col-md-6 {
    padding-bottom: 1em;
  }
}



@media (max-width: 768px) {
  .navOpened .navbar {
    background-color: #fff;
  }

  .navbar-nav {
    height: 100vh;
    margin-top: 2em;
    margin-left: 60px !important;
  }

  .navbar {
    padding-top: 20px;
    &-shrink {
      padding-top: 0.5rem;
    }
    &-brand {
      font-size: 18px;
      img {
        height: 47px;
        margin-right: 10px;
      }
    }
  }

  .nav-link {
    font-size: 24px;
    &::before {
      display: none;
    }
    &.active {
      font-weight: bold;
  
    }
  }
  .capability-item {
    margin-bottom: 30px;
  }
  #results .col-md-4 img {
    top: 0;
    width: 50px;
  }
}

@media (max-width: 480px) {

}




.circle-icon i {
  font-size: 32px;
  color: #94219f;
}

.circle-icon {
  border-radius: 50%;
  background-color: #f2f0fb;
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 116px;
}

.circle-icon {
  border-radius: 50%;
  background-image: linear-gradient(13deg, #8a20a212 1%, #f72b802e 100%);
  width: 100px;
  height: 100px;
  text-align: center;
  line-height: 116px;
  // box-shadow: 0px 5px 10px 2px #f186c5a8;
  box-shadow: 0px 20px 30px rgba(202, 69, 100, 0.25);
  position: relative;
  margin-bottom: 2em;
  border: 1px solid #f2d0e7;
}

.services-item:hover .circle-icon {
  -webkit-animation: shakeY 0.3s ease-in-out 1;
  animation: shakeY 0.3s ease-in-out 1;
}

.features-list > div {
  font-size: 21px;
  background-color: #fff;
  // border: 1px solid #e4e4e4;
  border-radius: 30px;
  margin: 13px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
}

.features-list i {
  margin-right: 14px;
  font-size: 28px;
}

.reviews .col-lg-6 {
  margin: 2em 0;
}

.reviews img {
  border-radius: 5px;
  max-height: 250px;
}

.reviews .d-flex img {
  margin-right: 3px;
}



.services-item {
  text-align: center;
  padding: 40px 55px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 10px 40px 0px rgba(78, 76, 76, 0.10);
  height: 100%;
}

.competence-item:hover {

}

.competence {
  position: relative;
}

.competence img {
  position: absolute;
  top: -15%;
  width: 100%;
  z-index: -1;
}

@keyframes shakeY {
  from {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, -15px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}